body{

}
h2{
    color: darkgoldenrod;
}
footer{
li{
word-spacing: 30px;
font-size: 
}
color: aliceblue;
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
height: 50px;
width: 200px;
margin: 0;  
display: inline-block;
text-align: center;
padding: 5px 0px;
width: 25%;
background-image:url(imagenes/enlacespeq.png)
}
