body{
background-image:url(imagenes/premier.png) ;
background-repeat: no-repeat;    /* Evita que la imagen se repita en mosaico */
background-size: cover;          /* Hace que la imagen cubra toda la pantalla */
background-position: center;     /* Centra la imagen */
background-attachment: fixed;    /* Mantiene el fondo fijo al hacer scroll */
height: 180vh;                   /* Asegura que el body ocupe toda la altura */
margin: 0;                       /* Elimina márgenes por defecto del navegador */
color: aliceblue;
}
/* APARTADO PREMIER LEAGUE */

.premier-header {
    width: 100%;
    min-height: 500px;

    background-image: url("premier-league-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
}

/* Oscurece ligeramente la imagen */
.premier-overlay {
    width: 100%;
    min-height: 500px;

    background: rgba(0, 0, 0, 0.45);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

/* TÍTULO */

.premier-overlay h1 {
    margin: 0;

    font-family: Arial, sans-serif;
    font-size: 70px;
    font-weight: 900;
    letter-spacing: 5px;

    color: white;

    text-shadow:
        0 0 10px rgba(255, 0, 0, 0.7),
        0 0 25px rgba(255, 0, 0, 0.5);
}

.premier-overlay p {
    margin-top: 10px;
    margin-bottom: 35px;

    color: #ddd;
    font-size: 18px;
    letter-spacing: 2px;
}

/* MENÚ */

.premier-menu {
    display: flex;
    gap: 5px;

    background: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(255, 0, 0, 0.5);

    padding: 5px;

    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.6);
}

/* ENLACES */

.premier-menu a {
    color: white;
    text-decoration: none;

    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;

    padding: 15px 25px;

    transition: 0.3s;
}

/* EFECTO AL PASAR EL RATÓN */

.premier-menu a:hover {
    background: #d00000;
    color: white;

    box-shadow:
        0 0 10px rgba(255, 0, 0, 0.6),
        0 0 20px rgba(255, 0, 0, 0.3);
}